/* Style the navigation bar */

#shader {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 47px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;;
}

.navbar {
    width: 100%;
    overflow: auto;
    font-family: 'Courgette', cursive;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: rgba(255, 138, 193, 0.822);
  }
  
  /* Current/active navbar link */
  .active {
    background-color: rgb(253, 182, 100);
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }